{% autoescape false %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{% if form.subject %}
		<title>{{ form.subject }}</title>
		{% else %}
		<title>{{ settings.project_name }} - {{ settings.project_tagline }}</title>
		{% endif %}
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<link href="{{ settings.email_webfont_url|default('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;300;400;500;600;700&display=swap') }}" rel="stylesheet" type="text/css">
		
		<style type="text/css">
			a {
				border: none;
				text-decoration: none;
				color: {{ settings.project_color }};
				outline: none !important;
				color: {{ settings.project_color }} !important;
				font-weight: 500;
			}
			a:hover {
				color: {{ settings.project_color }} !important;
			}
			p {
				margin: 20px 20px 20px 20px;
			}
			h1, h2, h3, h4, h5, h6 {
				color: {{ settings.project_color }};
				font-family: {{ settings.email_font_family_accent|default("'Encode Sans Condensed', 'Roboto', Helvetica, Arial, sans-serif") }};
				font-weight: 400;
				text-transform: capitalize;
				padding: 0 20px 0 20px !important;
				margin: 0 0 0.25em 0 !important;
			}
			{% if settings.email_font_sizes %}
			{{ settings.email_font_sizes|raw }}
			{% else %}
			h1, .h1 { font-size: 40px; }
			h2, .h2 { font-size: 32px; }
			h3, .h3 { font-size: 28px; }
			h4, .h4 { font-size: 24px; }
			h5, .h5 { font-size: 20px; }
			h6, .h6 { font-size: 16px; }
			{% endif %}
			img {
				display: block;
				max-width: 100%;
				height: auto !important;
			}
			img.d-block-100 {
				display: block !important;
				width: 100% !important;
				height: auto !important;
				min-width: 100% !important;
			}
			
			img.d-block-center {
				display: block !important;
				margin: auto !important;
			}
			
			img.d-block-right {
				display: block !important;
				margin-right: auto !important;
			}
			
			img.d-block-left {
				display: block !important;
				margin-left: auto !important;
			}
			figure.image {
				background-color: {{ settings.project_color }};
				margin: 0.5rem 0;
				text-align: center;
			}
			figcaption {
				background-color: {{ settings.project_color }};
				color: white;
				font-size: 12px;
				font-weight: bold;
				padding: 10px;
				text-align: center;
			}
			blockquote {
				background-color: {{ settings.project_color }};
				color: white;
				font-size: 22px;
				font-style: normal;
				font-weight: 300;
				padding: 40px 0 40px 0 !important;
				margin: 0 0 20px 0 !important;	
			}
			blockquote p {
				font-size: 22px;
			}
			blockquote a {
				color: white !important;
			}
			blockquote h6 {
				color: white;
				font-weight: 500;
				text-transform: none;
			}
			blockquote .blockquote {
				border-left: 4px solid rgba(255, 255, 255, 0.7);
				color: rgba(255, 255, 255, 0.7);
				font-size: 16px;
				font-weight: 500;
				padding-left: 10px;
			}
			hr {
				display: block;
				margin: 0.75rem 20%;
				border: none;
				height: 1px;
				background: {{ settings.project_color }};
			}
			.white-space {
				word-wrap: break-word;
				word-break: break-all;
				hyphens: auto;
				white-space: pre-wrap;
			}
		</style>	
	</head>	
	<body style="margin: 0; padding: 20px 0 20px 0; background-color: #EAEAEA; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-weight: 400; font-size: 14px; color: #606060; font-family: {{ settings.email_font_family_body|default("'Encode Sans Condensed', 'Roboto', Helvetica, Arial, sans-serif") }}; letter-spacing: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0 solid {{ settings.project_color }}; border-collapse: collapse;">
					<!-- Header -->
					{% if browser.url %}
					<tr>
						<td align="center" style="padding: 10px 10px 10px 10px; color: #ADADAD; font-size: 10px; text-align: center;">
							<a href="{{ browser.url }}" target="_blank" style="font-weight: 500; color: #CACACA !important;">Web Version</a>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td align="center" style="padding: 30px 0 30px 0; color: {{ settings.project_color }}; font-size: 36px; text-align: center;">
							<img src="{{ settings.project_url }}/uploads/app/media/logo-email.png" alt="{{ settings.project_name }}" title="{{ settings.project_name }}" style="display: block; width: 200px; max-width: 40%; margin: 0 auto 0 auto;" width="200" />
						</td>
					</tr>
					<!-- Body -->
					<tr>
						{% if browser.url %}
						<td bgcolor="#FAFAFA" style="padding: 0 0 20px 0; border-radius: 8px 8px 0 0;">
						{% else %}
						<td bgcolor="#FAFAFA" style="padding: 0 0 20px 0; border-radius: 8px 8px 8px 8px;">
						{% endif %}
							<table border="0" cellpadding="0" cellspacing="0" width="100%" id="contents">
								<tr>
									<td style="color: #606060; padding: 0; line-height: 1.5; font-size: 14px;">
										{% block content %}{{ body|raw }}{% endblock %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
					{% if browser.url %}
					<!-- Auxilary - Browser Link -->
					<tr>
						<td align="center" bgcolor="{{ settings.project_color }}" style="padding: 20px 20px 20px 20px; border-radius: 0 0 8px 8px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%" id="contents">
								<tr>
									<td style="color: #FFFFFF; padding: 0; line-height: 1.5; font-size: 14px; text-align: center;">
										<a href="{{ browser.url }}" target="_blank" style="font-weight: bold; color: #FFFFFF !important;">Having problems veiwing this email or images? <br>View Email in a Browser!</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					{% endif %}
					<!-- Footer -->
					<tr>
						<td bgcolor="#F0F0F0" style="padding: 20px 30px 0 30px; border-radius: 8px 8px 8px 8px; margin: 20px 0 0 0;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color:#909090; font-size:12px;" width="75%">
										{% block footer %}
										{% include 'footer.twig' %}
										{% endblock %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</body>
</html>
{% endautoescape %}