<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{settings.project_name }} - {{settings.project_tagline }}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<style type="text/css">
		a {
			border: none;
			text-decoration: none;
			color: {{settings.project_color}};
			outline: none !important;
			color: {{settings.project_color}} !important;
		}
		a:hover {
			color: {{settings.project_color}} !important;
		}
		p {
			margin: 20px 0 20px 0;
		}
		h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	</style>
</head>
<body style="margin: 0; padding: 20px; background-color: #EAEAEA; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-weight: 400; font-size: 14px; color: #606060; font-family: 'Roboto', Helvetica, Helvetica, Arial, sans-serif; letter-spacing: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td style="padding: 0;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0 solid #263238; border-collapse: collapse;">
				<tr>
					<td align="center" bgcolor="{{settings.project_color}}" style="padding: 30px 0 30px 0; border-radius: 4px 4px 0 0; color: #FFFFFF; font-size: 24px;">
						<img src="{{settings.app_url}}/uploads/app/media/logo-white.png" alt="{{settings.project_name}}" style="display: block; max-width: 40%;" />
					</td>
				</tr>
				<tr>
					<td bgcolor="#FAFAFA" style="padding: 20px 20px 20px 20px; border-radius: 0 0 4px 4px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td style="color: #606060; font-family: Helvetica, Arial, sans-serif; padding: 0; line-height: 1.5; font-size: 14px;">
									{% block content %}{{ body|raw }}{% endblock %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="#F0F0F0" style="padding: 20px 30px 0 32px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td style="color:#909090; font-family:Helvetica, Arial, sans-serif; font-size:12px;" width="75%">
									{% block footer %}
									{% include 'footer.twig' %}
									{% endblock %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
